/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
/* #root,
#__next {
  isolation: isolate;
} */

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 100;
  /* background: linear-gradient(-45deg, #000000, #031124, #1c0404, #000000);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite; */
}

.home-intro {
  padding: 40px 25px;
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.star-field {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  perspective: 600px;
  -webkit-perspective: 600px;
  z-index: -1;
}

.star-field .layer {
  box-shadow: -411px -476px #cccccc, 777px -407px #d4d4d4, -387px -477px #fcfcfc,
    -91px -235px #d4d4d4, 491px -460px #f7f7f7, 892px -128px #f7f7f7,
    758px -277px #ededed, 596px 378px #cccccc, 647px 423px whitesmoke,
    183px 389px #c7c7c7, 524px -237px #f0f0f0, 679px -535px #e3e3e3,
    158px 399px #ededed, 157px 249px #ededed, 81px -450px #ebebeb,
    719px -360px #c2c2c2, -499px 473px #e8e8e8, -158px -349px #d4d4d4,
    870px -134px #cfcfcf, 446px 404px #c2c2c2, 440px 490px #d4d4d4,
    414px 507px #e6e6e6, -12px 246px #fcfcfc, -384px 369px #e3e3e3,
    641px -413px #fcfcfc, 822px 516px #dbdbdb, 449px 132px #c2c2c2,
    727px 146px #f7f7f7, -315px -488px #e6e6e6, 952px -70px #e3e3e3,
    -869px -29px #dbdbdb, 502px 80px #dedede, 764px 342px #e0e0e0,
    -150px -380px #dbdbdb, 654px -426px #e3e3e3, -325px -263px #c2c2c2,
    755px -447px #c7c7c7, 729px -177px #c2c2c2, -682px -391px #e6e6e6,
    554px -176px #ededed, -85px -428px #d9d9d9, 714px 55px #e8e8e8,
    359px -285px #cfcfcf, -362px -508px #dedede, 468px -265px #fcfcfc,
    74px -500px #c7c7c7, -514px 383px #dbdbdb, 730px -92px #cfcfcf,
    -112px 287px #c9c9c9, -853px 79px #d6d6d6, 828px 475px #d6d6d6,
    -681px 13px #fafafa, -176px 209px #f0f0f0, 758px 457px #fafafa,
    -383px -454px #ededed, 813px 179px #d1d1d1, 608px 98px whitesmoke,
    -860px -65px #c4c4c4, -572px 272px #f7f7f7, 459px 533px #fcfcfc,
    624px -481px #e6e6e6, 790px 477px #dedede, 731px -403px #ededed,
    70px -534px #cccccc, -23px 510px #cfcfcf, -652px -237px whitesmoke,
    -690px 367px #d1d1d1, 810px 536px #d1d1d1, 774px 293px #c9c9c9,
    -362px 97px #c2c2c2, 563px 47px #dedede, 313px 475px #e0e0e0,
    839px -491px #e3e3e3, -217px 377px #d4d4d4, -581px 239px #c2c2c2,
    -857px 72px #cccccc, -23px 340px #dedede, -837px 246px white,
    170px -502px #cfcfcf, 822px -443px #e0e0e0, 795px 497px #e0e0e0,
    -814px -337px #cfcfcf, 206px -339px #f2f2f2, -779px 108px #e6e6e6,
    808px 2px #d4d4d4, 665px 41px #d4d4d4, -564px 64px #cccccc,
    -380px 74px #cfcfcf, -369px -60px #f7f7f7, 47px -495px #e3e3e3,
    -383px 368px #f7f7f7, 419px 288px #d1d1d1, -598px -50px #c2c2c2,
    -833px 187px #c4c4c4, 378px 325px whitesmoke, -703px 375px #d6d6d6,
    392px 520px #d9d9d9, -492px -60px #c4c4c4, 759px 288px #ebebeb,
    98px -412px #c4c4c4, -911px -277px #c9c9c9;
  transform-style: preserve-3d;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 4px;
  width: 4px;
  border-radius: 2px;
}

@keyframes sf-fly-by-1 {
  0% {
    transform: translateZ(-600px);
    opacity: 0.5;
  }
  90% {
    opacity: 0.5;
  }
  100% {
    transform: translateZ(0);
    opacity: 0;
  }
}
@keyframes sf-fly-by-2 {
  0% {
    transform: translateZ(-1200px);
    opacity: 0.5;
  }
  100% {
    transform: translateZ(-600px);
    opacity: 0.5;
  }
}
@keyframes sf-fly-by-3 {
  0% {
    transform: translateZ(-1800px);
    opacity: 0;
  }
  10% {
    opacity: 0.5;
  }
  100% {
    transform: translateZ(-1200px);
    opacity: 0.5;
  }
}

.star-field .layer:nth-child(1) {
  animation: sf-fly-by-1 5s linear infinite;
}
.star-field .layer:nth-child(2) {
  animation: sf-fly-by-2 5s linear infinite;
}
.star-field .layer:nth-child(3) {
  animation: sf-fly-by-3 5s linear infinite;
}

.projects-header {
  padding-top: 20px;
}

.developer {
  padding-top: 10px;
}

.portfolio {
  height: 90vh;
}

.container,
.content {
  height: 100%;
}

.projects {
  display: flex;
  flex-flow: column nowrap;
  /* height: 100%; */
}

.project-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  flex-grow: 1;
  min-height: 10vh;
  overflow: hidden;
  border: none;
  transition: all 0.5s ease;
  will-change: min-height;
  background: linear-gradient(
    to left,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 1)
  );
}

@media screen and (max-width: 1150px) {
  .project-button {
    min-height: 14vh;
    background: linear-gradient(
      to left,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1)
    );
  }

  .active.project-button {
    background: linear-gradient(
      to left,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1)
    );
  }
}

.project-button:hover > * {
  padding-bottom: 15px;
}

@media screen and (max-width: 1150px) {
  .project-button:hover > * {
    padding-bottom: 0;
  }
  }

.project-button.active:hover > * {
  padding-bottom: 0;
}

.project-content {
  display: flex;
  text-align: left;
  /* position: relative; */
  width: 100%;
  margin: 0 50px;
  transition: all 0.5s ease;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.project-header {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  max-width: 1000px;
  transition: all 0.5s ease;
  min-width: 260px;
}

.project-header h3 {
  align-self: flex-start;
}

.active .project-header {
  padding: 15px 0;
  max-width: 450px;
}

@media screen and (max-width: 1150px) {
  .project-content {
    text-align: center;
    justify-content: center;
  }
  .project-content h3 {
    margin: 0 auto;
  }
}

.project-background {
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(0, 48, 73, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

.project-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.active {
  min-height: 70vh;
}

/* @media screen and (max-width: 1150px) {
  .active {
    height: 50vh;
  }
} */

.project-img {
  position: absolute;
  top: -100px;
  left: 0%;
  z-index: -1;
  width: 100%;
  filter: blur(6px);
  transform: scale(1.2);
  transition: all 0.5s ease;
  opacity: 0.5;
}

.project-summary {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  /* overflow: hidden; */
  transition: opacity 0.5s ease;
  max-height: 300px;
  max-width: 450px;
  opacity: 1;
  /* margin-top: 100px; */
}

.project-summary ul {
  margin-top: 15px;
  padding-left: 15px;
}

.project-summary li {
  margin-top: 5px;
}

h1 {
  font-size: 3em;
  margin-top: 20px;
  animation: glitch 2s ease infinite 2s alternate-reverse;
}

@keyframes glitch {
  0% {
    text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
    transform: translate(var(--glitch-translate));
  }
  2% {
    text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
  }
  4%,
  100% {
    text-shadow: none;
    transform: none;
  }
}

h3 {
  font-size: 1.5em;
}

h4 {
  margin-top: 5px;
}

h5 {
  font-size: 1.2em;
}

.hidden {
  position: absolute;
  visibility: hidden;
  /* max-width: 0;
  max-height: 0; */
  opacity: 0;
}

.active .project-img {
  top: 50%;
  left: 50%;
  transform: translateX(-30%) translateY(-50%) scale(0.5);
  filter: blur(0);
  /* box-shadow: rgba(0, 0, 0, 0.9) 0px 5px 15px; */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  border-radius: 20px;
  opacity: 1;
}
@media screen and (max-width: 1150px) {
  .active .project-img {
    transform: scale(0.8) translateY(10%) translateX(0);
    position: static;
    left: 0;
  }
}

.project-collapse-icon {
  filter: invert(100%);
  transition: all 0.5s ease;
}

@media screen and (max-width: 1150px) {
  .project-collapse-icon {
    position: absolute;
    right:15px;
  }
}
.active .project-collapse-icon {
  transform: rotate(-180deg);
}

.project-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 300px;
  margin-top: 20px;
}

.link {
  z-index: 3;
  text-decoration: none;
}

.link:visited {
  color: white;
}

.site {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70px;
  font-size: 1.2em;
  gap: 5px;
}

.github-image {
  height: 36px;
}

.site-image {
  height: 26px;
}

.portfolio h2 {
  /* padding-left: 70px; */
  margin-top: 50px;
  text-align: center;
}

@media screen and (max-width: 1150px) {
  .portfolio h2 {
    text-align: center;
    padding: 0 30px;
  }
}
